body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

header {
    padding: 0px 15px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-spacing: 7px;
    background-color: black;
}


header img {
    height: 110px;
    margin: 5px;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-size: 17px;
    background-color: rgba(128, 128, 128, 0.32);
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 90000px;
}

.hero {
    text-align: center;
    font-size: 22px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 60px;
    justify-content: center;

}

.product {
    background: #1c1c1c;
    width: 220px;
    padding: 15px;
    text-align: center;
    position: relative;
    font-size: 115%;
}

.product img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.product a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px;
    background: purple;
    color: white;
    text-decoration: none;
}

.label {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 4px;
    font-size: 20px;
}

.new {
    background: green;
}

.sale {
    background: red;
}

.limited {
    background: orange;
}

footer {
    text-align: center;
    padding: 20px;
    background: black;
}
