body {
    margin: 0;
    font-family: 'Poppins', Arial, sans-serif;
    background: #111;
    color: white;
}

header {
    height: 120px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}


header img {
    height: 110px;
    margin: 5px;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-size: 17px;
    background-color: rgba(128, 128, 128, 0.32);
    padding: 12px 28px;
    border-radius: 999px;
    line-height: 1;
}

.hero {
    text-align: center;
    font-size: 22px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 60px;
    justify-content: center;

}

.product {
    background: #1c1c1c;
    width: 220px;
    padding: 15px;
    text-align: center;
    position: relative;
    font-size: 115%;
}

.product img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.product a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px;
    background: purple;
    color: white;
    text-decoration: none;
}

.label {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 4px;
    font-size: 20px;
}

.new {
    background: green;
}

.sale {
    background: red;
}

.limited {
    background: orange;
}


.site-footer {
    background-color: black;
    padding: 40px 20px 25px;
    margin-top: 80px;
}

.footer-container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    text-align: center;
}

.footer-column h3 {
    margin-bottom: 12px;
    color: white;
}

.footer-column p,
.footer-column a {
    color: #ccc;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
    font-size: 15px;
}

.footer-column a:hover {
    color: white;
}

.copyright {
    text-align: center;
    margin-top: 35px;
    font-size: 14px;
    color: #777;
}

.section-title {
    text-align: center;
    font-size: 32px;
    margin: 60px 0 30px;
}

/* Een media query voor op mobiel ook te kunnen gebruiken  */
@media (max-width: 768px) {

    /* Productpagina */
    .product-detail {
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }

    .product-image img {
        width: 100%;
        max-width: 300px;
    }

    .product-info {
        text-align: center;
    }

    /* Footer */
    .footer-container {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}




