body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header {
    padding: 0px 15px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-spacing: 7px;
    background-color: black;
}


header img {
    height: 110px;
    margin: 5px;
}

header nav a {
    background-color: cornflowerblue;
    padding: 15px;
    word-spacing: 20px;
    border-radius: 90000px;
}

.pagination {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.pagination a:hover {
    color: red;
}