body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

/* Titel */
h1 {
    text-align: center;
    margin-top: 80px;
    color: #333;
}

/* Formulier centreren */
form {
    width: 300px;
    margin: 30px auto;
    padding: 20px;
    background-color: red;
    border-radius: 20px;
    justify-content: center;
}

/* Labels */
label {
    display: block;
    margin-top: 15px;
    color: #333;

}

/* Inputs */
input {
    width: 93%;
    padding: 8px;
    margin: 5px 0px;
}

/* Knop */
button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #555;
    color: white;
    border-radius: 10px;

}

button:hover {
    background-color: blue;
}
