body {
    background-color: rgba(0, 42, 255, 0.62);
    font-family: Arial, sans-serif;
}


h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 70px;
    color: black;
    font-size: 50px;
    font-weight: bold;
}


/* Formulier centreren */
form {
    width: 350px;
    margin: 30px auto;
    padding: 30px;
    background-color: rgba(169, 169, 169, 0.25);
    border-radius: 20px;
    justify-content: center;
}

/* Labels */
label {
    display: block;
    margin-top: 15px;
    color: black;
    font-weight: bold;
    font-size: 20px;


}

input {
    width: 93%;
    padding: 8px;
    margin: 5px 0px;
}

/* Knopjes */
button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #555;
    color: white;
    border-radius: 10px;

}

button:hover {
    background-color: rgba(0, 0, 0, 0.56);
    cursor: pointer;
}

header {
    padding: 0px 15px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-spacing: 7px;
    background-color: black;
}


header img {
    height: 110px;
    margin: 5px;
}

header nav a {
    background-color: cornflowerblue;
    padding: 15px;
    word-spacing: 20px;
    border-radius: 90000px;
}
